# Rewrite --- https://ruxup.herokuapp.com/backend/public/ => https://ruxup.herokuapp.com/admin/

RewriteEngine On
RewriteRule ^api/ /backend/public/

RewriteCond %{THE_REQUEST} /backend/public\.php [NC]
RewriteRule ^ - [F]